.wrapper__for__photos {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 20px;
}

@media screen and (max-width: 1300px) {
  .wrapper__for__photos {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 900px) {
  .wrapper__for__photos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper__for__photos {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
